@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white font-sans;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-lg;
  }
}
